<div class="container">
    <div class="heading ">
        <h2>Login</h2>
    </div>
    <div class="row">
      <div class="col">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="input-field full-width-control">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" id='email' 
                        formControlName="email" class="form-control" required>
                        <span class="help-block" *ngIf="!loginForm.controls.email.valid &&  loginForm.controls.email.errors && loginForm.controls.email.touched">Please enter a valid email</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-field full-width-control">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" formControlName = "password" required class="form-control">
                        <span class="help-block" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">Please provide a password</span>
                    </div>
                </div>
                <span class="help-block">{{pass}}</span>
            </div>
                <button class="btn btn-primary" type="submit" [disabled]='!loginForm.valid'>Submit</button>
            </form>
        </div>
    </div>
  </div>